<div id="map">
    
</div>

<div class="user-control">
    <button class="btn" onclick="locate()">Locate</button>
    <button class="btn"><a href="/waste/scan">Scan</a></button>
    <br>
    <span><img style="width: 15px; height:15px;" src="/images/empty.png" alt="Empty Bin Image"> : Empty </span>
    <br>
    <span><img style="width: 15px; height:15px;" src="/images/filled.png" alt="Filled Bin Image"> : Filled</span>

</div>


<script src="/javascript/googleMap.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBLXxFA0RCDogfD24J3GmKE8wlJuGOizrA&map_ids=4719b11c4529a336&callback=initMap"> async </script>


